// Place all the styles related to the highlights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
figure.highlight {
  width: 640px;
  figcaption {
    top: -140px;
    font-size: 45px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    position: relative;
    text-align: right;
    font-family: 'Amaranth';
    border: 10px;
    word-wrap: break-word;
    float: right;
    line-height: 45px;
    margin-right: 20px;
  }  
}

    
