// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.widget {
  height: 264px !important;
}

figure.highlight a {
  font-size: 45px !important;
  line-height: 45px !important;
  color: #fff;
}