<section id="bottom">
  <div class="bottom_inner">
    <div class="one_fourth">
      <aside class="widget widget_links">
        <h2 class="widgettitle">Mapa do site</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/gifts/index">Presentes</a></li>
          <li><a href="/contacts/index">Contato</a></li>
        </ul>
      </aside>
    </div>
    <div class="one_fourth">
      <%= render partial: 'layouts/facebook' %>
    </div>
    <div class="one_fourth">
      <%= render :partial => 'layouts/twitter' %>
    </div>
    <div class="one_fourth">
      <aside class="widget widget_custom_contact_form_entries">
        <h2 class="widgettitle">Fale com a gente!</h2>
        <div class="cmsms-form-builder">
          <div class="widgetinfo">Thank you! <br />Your message has been sent successfully.</div>

          <form action="#" method="post" id="form_contact_form_widget_001">
            <div class="form_info cmsms_input">
              <label for="field_003">Email *</label>
              <input type="text" name="wemail" id="field_003" size="22" tabindex="11" class="validate[required,custom[email]]" />
            </div>
            <div class="form_info cmsms_textarea">
              <label for="field_004">Mensagem *</label>
              <textarea name="wmessage" id="field_004" cols="28" rows="6" tabindex="13" class="validate[required,minSize[3]]"></textarea>
            </div>
            <div class="loading"></div>
            <div><input type="hidden" name="contact_form_widget_001_wurl" id="contact_form_widget_001_wurl" value="" /></div><!-- Here you need to set the path to the sendmail file -->
            <div><a href="#" id="contact_form_widget_001_wformsend" class="button" tabindex="14"><span>Enviar</span></a></div>
          </form>
        </div>
      </aside>
    </div>
  </div>
</section>    