<section id="bottom">
  <div class="bottom_inner">
    <div class="one_fourth">
      <aside class="widget widget_links">
        <h2 class="widgettitle">Mapa do site</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/gifts/index">Presentes</a></li>
          <li><a href="/contacts/index">Contato</a></li>
        </ul>
      </aside>
    </div>
    <div class="one_fourth">
      <%= render partial: 'layouts/facebook' %>
    </div>
    <div class="one_fourth">
      <%= render :partial => 'layouts/twitter' %>
    </div>
    <div class="one_fourth">
      <aside class="widget widget_custom_contact_form_entries">
        <!-- empty space -->
      </aside>
    </div>
  </div>
</section>    