
            <header id="header">
              <div class="header_inner">
                <a class="resp_navigation" href="javascript:void(0);"><span></span></a>
                <nav>
                  <ul id="navigation">
                    <li class="current_page_item" style="margin-top:80px;"><a href="/"><span style="background-color:#ec268f;">Home</span></a></li>
                    <li style="margin-top:24px;"><a href="javascript:void(0);"><span style="background-color:#f58634;">Produtos</span></a>
                    </li>
                  </li>
                    <li style="margin-top:90px;"><a href="/contacts/index"><span style="background-color:#00a575;">Contato</span></a></li>
                  </ul>
                </nav>
          
                <a class="logo" href="index.html">
                  <%= image_tag "kerotudo_339x125.png", alt: "Kero Tudo Presentes Criativos" %>
                </a>
          
                <div class="cl"></div>
              </div>
            </header>
