<footer id="footer">
  <div class="footer_inner">
    <span>Kero Tudo Presentes Criativos &copy; <%= Time.now.year %> Todos os direitos reservados - (45) 3324-6157</span>
    
    <ul class="social_list fr">
      <li>
        <a href="https://twitter.com/kero_tudo" target="_blank">
          <img src="/assets/socicons/twitter.png" alt="">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/kerotudopresentes" target="_blank">
          <img src="/assets/socicons/facebook.png" alt="">
        </a>
      </li>
    </ul>
  </div>
</footer>
