<aside id="custom-twitter-4" class="widget widget_custom_twitter_entries">
  <script type="text/javascript">
    jQuery(document).ready(function () { 
      jQuery('#custom-twitter-4_tweets').jTweetsAnywhere( { 
        username : 'kero_tudo', 
        count : 2, 
        showTweetFeed : { 
          showTwitterBird : false, 
          showGeoLocation : false, 
          showInReplyTo : false, 
          includeRetweets : false 
        } 
      } ); 
    } );
  </script>
  <h2 class="widgettitle">Twitter</h2>
  <div id="custom-twitter-4_tweets"></div>
</aside>
